@page "/circles/{CircleId}/activities"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject NavigationManager Navigation

@inject IHttpClientFactory HttpClientFactory

@using circles.api.contracts.Activities.Queries

<h2>Activities</h2>

<NavLink class="nav-link" href="@($"circles/{CircleId}")">Circle</NavLink>

<button type="button" class="btn btn-lg btn-primary" @onclick="NavigateToAdd">Add</button>

<EditForm Model="formQuery" OnValidSubmit="GetItems" FormName="query">

    <div class="form-floating mb-3">
        <input id="Denomination" type="text" placeholder="Denomination" @bind="formQuery.Denomination"
            class="form-control" autocomplete="off">

        <label for="Denomination" class="form-label">Denomination</label>
    </div>

    <div class="form-floating mb-3">
        <button type="submit" class="w-100 btn btn-lg btn-primary" disabled="@_loading">Consultar</button>
    </div>
</EditForm>


<table class="table">
    <thead>
        <tr>
            <th>Denomination</th>
            <th>Location</th>
            <th>Init</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var activity in results)
        {
            <tr>
                <td>@activity.Denomination</td>
                <td>@activity.LocationDenom</td>
                <td>@activity.Init</td>
            </tr>
        }
    </tbody>
</table>

@code {

    bool _loading;
    [Parameter, EditorRequired]
    public string CircleId { get; set; } = string.Empty;

    private List<ActivityGetListResults> results = new();

    FormQuery formQuery = new();

    public async Task GetItems()
    {
        _loading = true;
        var httpClient = HttpClientFactory.CreateClient(CirclesConfiguration.DefaultHttpClient);

        results = await
        httpClient.GetFromJsonAsync<List<ActivityGetListResults>>($"api/v1/circles/{CircleId}/activities?circleId={CircleId}&Denomination={formQuery.Denomination}");
        _loading = false;
    }

    class FormQuery
    {
        public string Denomination { get; set; } = string.Empty;
    }

    public void NavigateToAdd()
    {
        Navigation.NavigateTo($"activities/{CircleId}/add");
    }

}