@page "/circles/{CircleId}/members"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject NavigationManager Navigation

@using circles.api.contracts.Members.Queries
@using circles.Pages.Members
@using global::circles.api.contracts.Members.Queries
@using circles.api.contracts.Abstractions.Paginations

@inject IHttpClientFactory HttpClientFactory

<h2>Circle Members</h2>

<NavLink class="nav-link" href="@($"circles/{CircleId}")">Circle</NavLink>

<button class="btn" @onclick="GetItems">Refresh</button>
<button class="btn" @onclick="Clear">Clear</button>
<button class="btn" @onclick="NavigateAdd">Add</button>

<button class="btn" @onclick="Next">Next</button>
<button class="btn" @onclick="Previous">Previous</button>


<LoadingTag Loading="@_loading" />


<table class="table">
    <thead>
        <tr>
            <td>Email</td>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>

        @if (members != null)
        {
            @foreach (var member in members.Items)
            {
                <tr>
                    <td>
                        <NavLink class="nav-link" href="@($"members/{member.Id}")">
                            @member.Email
                        </NavLink>
                    </td>
                    <td>
                        @member.Name
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    Page: @PageNumber
</div>

@code {

    bool _loading;
    [Parameter, EditorRequired]
    public string CircleId { get; set; } = string.Empty;

    int PageNumber = 1;

    PagingResult<CircleListGetMemberResult>? members;

    protected override async Task OnInitializedAsync()
    {
        await GetItems();
    }

    public async Task GetItems()
    {
        _loading = true;
        var httpClient = HttpClientFactory.CreateClient(CirclesConfiguration.DefaultHttpClient);
        members = await
        httpClient.GetFromJsonAsync<PagingResult<CircleListGetMemberResult>>($"api/v1/circles/{CircleId}/members?CircleId={CircleId}&PageNumber={PageNumber}");
        _loading = false;
    }

    public void Clear()
    {
        members = null;
    }
    public void NavigateAdd()
    {
        Navigation.NavigateTo($"circles/{CircleId}/members/add");
    }

    public async Task Next()
    {
        _loading = true;
        PageNumber++;
        await GetItems();
        _loading = false;
    }

    public async Task Previous()
    {

        if (PageNumber <= 0)
            return;
        _loading = true;
        PageNumber--;
        await GetItems();
        _loading = false;
    }


}